**/__pycache__
/tensorflow/bin
/pytorch/bin
/pytorch/build
/pytorch/dist
/pytorch/reg_drot.egg-info
/benchmark/bin/
/benchmark/data/
/benchmark/log/
/benchmark/plot/
/benchmark/log.bak/
/benchmark/utils/get_table.py
